body {
  background-color: #38383d;
  color: #eeeeeeb8;
}

/* App.js */
.parent {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 50px;
} 

.sidenav {
  grid-area: 1 / 1 / 2 / 2;
}

.navbar {
  display: inline grid;
  gap: 1%;
  position: fixed;
}

.page { 
  grid-area: 1 / 2 / 2 / 3; 
}

.detail-page { 
  grid-area: 1 / 3 / 2 / 4; 
}

.navlink {
  padding: 2px 5px;
  text-decoration: none;
  color: #eeeeeeb8;
}

.navlink:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.active {
  border-radius: 2px;
  background-color: #47474d;
  color: #eeeeeeb8;
}

/* AnimeSeason.js, AnimeSchedule.js */
.heading {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.anime-card {
  display: flex;
  flex-wrap: wrap;
}

.anime { 
  background-color: #47474d;
  margin: 5px;
  width: 172px;
}

.container {
  padding: 5px;
}

.title {
  font-weight: bold;
  margin: 0;
}

.anime img {
  width: 100%;
}
